{%extends "SKCMSAdminBundle:Element/Template:edit.html.twig"%}
{% trans_default_domain 'FOSUserBundle' %}
{%block formContent %}
{{form_errors(form)}}
           
{% block fos_user_content %}
    {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock fos_user_content %}
{%endblock%}

{%block formAction %}{{ path('fos_user_change_password')}}{%endblock%}

{%block submitters %}
<button type="submit" class="btn pink-btn">{{ 'change_password.submit'|trans }}</button>
{#<input type="submit" value="{{ 'change_password.submit'|trans }}" />#}
{%endblock%}